@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

      body {
         font-family: Arial, sans-serif;
         background-image: url('../IMG/545752.jpg');
         background-size: cover;        
         background-repeat: no-repeat;      
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
      }


      .container {
         background: white;
         width: 300px;
         padding: 20px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         border-radius: 5px;
         text-align: center;
      }

      form {
         display: flex;
         flex-direction: column;
      }

      label {
         margin: 10px 0;
      }

      input {
         padding: 10px;
         margin: 5px 0;
         border: 1px solid #ccc;
         border-radius: 5px;
      }

      button {
         background: #007BFF;
         color: #fff;
         padding: 10px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
      }

      a {
         text-decoration: none;
         display: block;
         margin: 10px 0;
         color: #007BFF;
      }

      button:hover {
         background: #0056b3;
      }

      a:hover {
         text-decoration: underline;
      }

      .error {
         background-color: #ffcccc;
         padding: 10px;
         border-radius: 5px;
         text-align: center;
         color: red;
         font-size: 14px;
         margin-top: 5px;
      }
